.actions {
  width: 90%;
  margin: 10px auto;
}
.actions__add-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.actions__add-text {
  margin-right: 10px;
}
.actions__input{
  width: calc(100% - 120px);
}
