.map {
  position: relative;
  width: 90%;
  height: 190px;
  margin: auto;
}

.map__crosshair {
  position: absolute;
  z-index: 1;
  top: calc(50% - 3px);
  left: calc(50% - 3px);
  width: 5px;
  height: 5px;
  border-radius: 5px;
  border: 1px solid rgb(208, 28, 87);
}

@media (min-width: 500px) {
  .map {
    position: relative;
    height: 250px;
    margin: auto;
  }
}

@media (min-width: 992px) {
  .map {
    position: relative;
    height: 500px;
    width: 85%;
    margin: auto;
  }
}
